// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1024px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 540px;

// Colors
$background: #f0eff1;
$black: #24242a;
